.container {
    background: var(--white-color);
    width: 100%;
    max-width: 420px;
    border-radius: 10px;
    padding: 60px 4.7rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top: 120px;
    right: 120px;
    z-index: 2;
}


.text{
    width:100%;
    justify-content: space-around;
}

.textTitle {
    font-size: 20px;
    color: var(--secondary-color);
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}

.textValue{
    color: var(--secondary-color);
    text-align: center;
    font-size: 3rem;
}
.slider {
    height: 100%;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 8px 8px 10px #CCC;
}

@media (max-width:1200px){

}