
.container{
    background:var(--dark-color);
    width:100%;
    display:flex;
    justify-content:center;
    position: fixed;
    z-index: 22;
    top: 0;
}

.nav{
        width:100%;
        max-width:1440px;
        height: 120px;
        padding:15px;
        color:white;
        display:flex;
}
.contLinkMobile{
        display: none;
}
.navMobile{
        height: 100%;
        width: 100px;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.8rem;
        color: #FFF;
        padding-right: 20px;
}
.btnBars{
        font-size: 1.8rem;
        color: #FFF;
        border: none;
        padding: 15px 20px 5px 20px;
        background-color: transparent;
        display: none;
}
.cont{
        display: flex;
        width: 100%;
        color: #FFF;
}

.contLink{
       display:flex;
       flex:1;
       align-items:center;
       justify-content:flex-end;
}

.text{
        font-weight:bold;
        color:var(--primary-color);
        padding:1.2rem;
        cursor:pointer;
}

.button {
        background:var(--primary-color);
        color:var(--secondary-color);
        font-weight: bold;
        width: 100px;
        padding: 7px 0;
        border-radius: 7px;
        margin-left: 1.2rem;
        
}

.button:active{
        background: "var(--primary-color-active)" 
   } 
   
.button:hover{ 
       background: "var(--primary-color-hover)"
}

@media (max-width: 1200px){
        .cont{
                display: none;
        }
        .btnBars{
                display: initial;
        }
        .navMobile{
                display: flex;
                position: fixed;
                height: 100vh;
                width: 100vw;
                z-index: 999;
                padding: 0;
                top: 120px;
        }
        

        .contLinkMobile{
                display: flex;
                position: absolute;
                flex-direction: column;
                height: 0vh;
                width: 100vw;
                overflow: hidden;
                background-color: var( --dark-color-footer);
                transition: 300ms;
                top: 0;
        }
        .contLinkMobile.active{
                height: 100vh;
        }
}