
.container{
    background:var(--white-color);
    width:100%;
    max-width: 720px;
    border-radius: 10px;
    padding: 20px 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    height: 100px;
    margin-top: 200px;
}

.cont {
        display: flex;
        width: 100%;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -50px;
}

.cont1 {
        display: flex;
        width: 100%;
        color: #FFF;
        
}
    
       
.cont1 img{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-right: 20px;
        position: relative;
        top: 15px;       
} 
    
.title {
        text-align: left;
        font-size: 20px;
        color:var(--secondary-color);
        cursor:pointer;
}



.text{
        text-align: end;
        color:var(--secondary-color);
        cursor:pointer;
        margin-top: 30px;
}

.button {
        background:var(--primary-color);
        color:var(--secondary-color);
        font-size: 22px;
        font-weight: bold;
        box-shadow: 8px 8px 10px #CCC;
        width: 100%;
        padding: 10px 0;
        border-radius: 50px;

}

.button:active{
        background: "var(--primary-color-active)" 

}

.button:hover{
        background: "var(--primary-color-hover)"
}

@media screen and (max-width:1500px){
        .container{
                padding: 60px 20px;
        }
}

@media screen and (max-width:1200px){
        .container{
                padding: 60px 20px;
        }
}