html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --primary-color: #6eeb1b;
  --primary-color-hover: #19c3da;
  --primary-color-active: #b6b916;
  --secondary-color: #1e7c32;
  --dark-color: #08192c;
  --dark-color-footer: #08192c;
  --white-color: #FFFFFF;
  --overlay-top: linear-gradient(90deg, rgba(221, 245, 9, 0.171) 30.03%, rgba(119, 131, 13, 0.589) 39.73%, rgba(155, 172, 5, 0.76) 100.14%);
}

body{
  background-color: var(--dark-color);
}

button{
  border: none;
  cursor: pointer;
}